<% content_for :guide do %>
  <div class="container">
    <% if account_signed_in? %>
      <%= render partial: 'layouts/shared/overview'%>
      <div class="row">
        <div class="flex-box horizontal profile-body">
        <div class="profile-sidebar">
          <div class="sidebar-list">
            <%=link_to (t 'profiles.overview'), index_path%>
            <%=link_to (t 'profiles.security'), security_index_path %>
            <%=link_to (t 'profiles.kyc'), '', class:"current"  %>
          </div>
         </div>
          <div class="flex-content">
            <div class="profile-content">
              <div class="profile-kyc-tabs">
                <ul class="clearfix">
                  <li class="active"><a href="#">Individual Account</a></li>
                  <li><a href="#">Insitutional Account</a></li>
                </ul>
              </div>
              <div class="profile-kyc-tabContent">
                <div class="profile-kyc-link">
                  <a href="<%= new_profile_path%>" class="profile-kyc-link-pro">
                    <div><strong>Profile</strong></div>
                  </a>
                  <a href="#" class="profile-kyc-link-doc">
                    <div><strong>Document</strong></div>
                  </a>
                  <p>Your document is being reviewed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% else %>

      <h2>You are not signed in.</h2>
      <br/>
      <%= link_to 'Sign in', new_account_session_path %> or <%= link_to 'Sign up', new_accountl_registration_path %>

    <% end %>
  </div>
<% end %>