<% content_for :guide do %>
  <div class="container">
    <% if account_signed_in? %>
      <%= render partial: 'layouts/shared/overview'%>
      <div class="row">
        <div class="flex-box horizontal profile-body">
          <%= render partial: 'layouts/shared/profile_siderbar_list'%>
          <div class="flex-content">
            <div class="profile-content">
              <div class="profile-security-head">
                <h4><%= (t 'profiles.profile') %></h4>
              </div>
              <div class="profile-kyc-form">
                <div class="profile-kyc-form-wrap">
                  <%= render 'form', profile: @profile %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <h2><%= (t 'session.not_signed_in') %></h2>
      <br/>
      <%= link_to (t 'session.login'), new_account_session_path %> or <%= link_to (t 'session.register'), new_account_registration_path %>
    <% end %>
    </div>
<% end %>