
<% content_for :guide do %>

<div class="container">
  <% if account_signed_in? %>
    <%= render partial: 'layouts/shared/overview'%>
    <div class="row">
      <div class="flex-box horizontal profile-body">
        <div class="profile-sidebar">
          <div class="sidebar-list">
            <%=link_to (t 'profiles.overview'), index_path%>
            <%=link_to (t 'profiles.security'), security_index_path  ,class:"current" %>
            <%=link_to (t 'profiles.kyc'), profiles_path(@profile) %>
          </div>
        </div>
        <div class="flex-content">
          <div class="profile-content">
            <div class="profile-security-head">
              <h4><%=(t 'profiles.Google_2_Step')%></h4>
            </div>
            <div class="profile-security-google-unbind">
              <div class="google-unbind has-error has-feedback">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <div class="form-group">
                      <%= f.label :current_password, (t 'password.old_password') %>
                      <%= f.password_field :current_password, autocomplete: 'off',  class: "form-control", required: true, placeholder: (t 'password.enter_old_password') %>
                  </div>
                  <div class="form-group">
                      <%= f.label :password, (t 'password.new_password') %>
                      <%= f.password_field :password, autocomplete: 'off',  class: "form-control", required: true, placeholder: (t 'password.enter_new_password') %>
                  </div>
                  <div class="form-group">
                      <%= f.label :password_confirmation, (t 'password.confirm_new_password') %>
                      <%= f.password_field :password_confirmation, autocomplete: 'off',  class: "form-control", required: true, placeholder: (t 'password.placeholder_confirm_new_password') %>
                  </div>
                  <% if current_account.otp_enabled %>
                    <div class="form-group">
                      <%= label_tag :otp, (t 'password.google_code') %>
                      <%= text_field_tag :otp, '', autocomplete: 'off', class: 'form-control text-center', required: true, maxlength: 6, size: 6, pattern: '\d{6}', placeholder: '' %>
                    </div>
                  <% end %>
                  <% if devise_error_messages! %>
                    <span class="help-block"><%= devise_error_messages!%></span>
                  <% end %>
                  <div class="form-group google-unbind-btn">
                    <%= f.submit  "SUBMIT", class: "btn btn-primary btn-block" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>