<a class="menu-orders" href="<%= ENV['API_CORS_ORIGINS']+'/history/orders'%>"><%= t('header.order_history')%></a>
<a class="menu-funds" href="<%= ENV['API_CORS_ORIGINS']+'/funds'%>"><%= t('header.funds')%></a>
<a class="menu-account" href="<%= ENV['BARONG_DOMAIN']%>"><%= current_account.email %></a>
<a class="menu-logout" href="<%= destroy_account_session_path %>"><%= t('header.signout') %></a>
