<header class="mb-4">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="text-center navbar-brand" href="<%= ENV['API_CORS_ORIGINS'] %>">
        <img class="nav-img" src="<%= ENV['LOGO_URL'] || image_path('logo.svg') %>">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar" aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="top-navbar">
        <ul id="menu" class="navbar-nav mr-auto">
          <%= link_to t('header.market'),ENV['API_CORS_ORIGINS']+'/trading/btceth'%>
          <%= link_to t('header.funds'), ENV['API_CORS_ORIGINS']+'/funds'%>
          <%= link_to t('header.history'),ENV['API_CORS_ORIGINS']+'/history/orders'%>
        </ul>
        <ul class="navbar-nav ml-auto">
          <%= render partial: 'layouts/shared/header_profile_setting' if current_account %>
          <% unless current_account %>
            <a class="dropdown-item" href="<%= account_session_path %>">
              <i class="fa fa-user"></i><span><%= t('header.login') %></span>
            </a>
            <a class="dropdown-item" href="<%= new_account_registration_path %>">
              <i class="fa fa-user"></i><span><%= t('header.signup') %></span>
            </a>
          <%end %>
          <%= render partial: 'layouts/shared/header_lang_sel' %>
        </ul>
      </div>
    </div>
  </nav>
</header>
