<% content_for :guide do %>
<div class="container">
  <% if account_signed_in? %>
  <%= render partial: 'layouts/shared/overview'%>
  <div class="row">
    <div class="flex-box horizontal profile-body">
      <div class="profile-sidebar">
        <div class="sidebar-list">
          <%=link_to (t 'profiles.overview'), '',class:"current" %>
          <%=link_to (t 'profiles.security'), security_index_path %>
          <%=link_to (t 'profiles.kyc'), profiles_path(@profile) %>
        </div>
      </div>
      <div class="flex-content">
        <div class="profile-content">
          <div class="overview-index">
            <div class="row">
              <div class="col-md-3 text-center">
                <h5> <%= current_account.email.gsub(/.{0,3}@.{0,3}/,'***@***') %></h5>
                <%if current_account.level == 3%>
                  <span class="warning"><%= (t 'profiles.verified') %></span>
                <%else %>
                  <span class="warning"><%= (t 'profiles.unverified') %></span>
                <%end %>
              </div>
              <div class="col-md-9">
                <ul class="verifi-step <%if current_account.otp_enabled%><%if current_account.level == 3%>step4<%else %>step3<%end %><%else%>step2<%end %>">
                  <li><span><%= (t 'profiles.email_verification') %></span><i></i></li>
                  <li><span><%= (t 'profiles.google_2_step') %></span><i></i></li>
                  <li><span><%= (t 'profiles.kyc') %></span><i></i></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="overview-info">
            <div class="row">
              <div class="col-md-3"><%= (t 'profiles.2_step') %>:</div>
              <div class="col-md-3"><%= (t 'profiles.google_authenticator') %></div>
              <div class="col-md-3">
                <% if current_account.otp_enabled %>
                  <span><%= (t 'profiles.enable') %></span>
                <%else %>
                  <span class="disable"><%= (t 'profiles.disable') %></span>
                <%end %>
              </div>
              <div class="col-md-3 text-right">
                <% if current_account.otp_enabled %>
                  <a href="<%= security_preUnbind_path %>"><%= (t 'profiles.unbind') %></a>
                <%else %>
                  <a href="<%=security_path %>"><%= (t 'profiles.enable') %></a>
                <%end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"><%= (t 'profiles.withdrawal_limit') %>:</div>
              <div class="col-md-3">2BTC</div>
              <div class="col-md-3">&nbsp;</div>
              <div class="col-md-3 text-right"><a href="#"><%= (t 'profiles.increase_limit') %></a></div>
            </div>
            <div class="row">
              <div class="col-md-3"><%= (t 'profiles.kyc') %>:</div>
              <div class="col-md-3"><%= (t 'profiles.completed') %>
                <% if current_account.level == 3 %>
                  100%
                <% else
                     if current_account.profile
                        if current_account.documents.count>0 && current_account.labels.third.value == 'pending' %>
                          75%
                      <%else %>
                        50%
                    <%  end
                     else %>
                      0%
                    <%end
                  end %>
              </div>
              <div class="col-md-3">&nbsp;</div>
              <div class="col-md-3 text-right"><%=link_to (t 'profiles.complete_kyc'), profiles_path(@profile) %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <h2><%= (t 'session.not_signed_in') %></h2>
    <br/>
    <%= link_to (t 'session.login'), new_account_session_path %> or <%= link_to (t 'session.register'), new_account_registration_path %>
  <% end %>
</div>
<% end %>