<% content_for :guide_title do %>
  <h3 class="profile-email">
    <!--    <i class="fa fa-user"></i><span><%#= current_account.email %></span>-->
  </h3>
<% end %>

<% content_for :guide do %>
<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-11 col-md-6 mb-2">
    <div class="text-center">
      <h2 class="title">Change your password</h2>
    </div>
  </div>

  <div class="col-12 px-5 py-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, 'New password' %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control form-control-lg underlined' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm new password' %><br />
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control form-control-lg underlined' %>
      </div>

      <% if current_account.otp_enabled %>
        <div id="otp-code" class="form-group">
          <div class="row">
            <%= label_tag :otp, '6-digit Google Authenticator code' %>
            <%= text_field_tag :otp, '', autocomplete: 'off', class: 'px-1 form-control form-control-lg underlined', required: true, maxlength: 6, size: 6, pattern: '\d{6}', placeholder: 'XXXXXX' %>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit 'Change my password', class: 'btn btn-block btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<% end %>