

<% content_for :guide do %>
  <div class="dialog-google-2fa" id="pup-google-2fa">
    <div class="dialog-cell">
      <div class="dialog-content">
        <div class="dialog-head">
          <%= form_for(resource, as: resource_name, url: account_session_path) do |f| %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :password %>
            <div class="form-group">
              <%= label_tag :otp, '6-digit Google Authenticator code' %>
              <%= text_field_tag :otp, '', autocomplete: 'off', class: 'px-1 form-control form-control-lg underlined', required: true, maxlength: 6, size: 6, pattern: '\d{6}', placeholder: 'XXXXXX' %>
            </div>
            <div class="btn btn-primary btn-block">
                <%= f.submit 'Submit', class: 'btn btn-success' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
