<% content_for :guide do %>
<div class="container">
<% if account_signed_in? %>
  <%= render partial: 'layouts/shared/overview'%>
  <div class="row">
    <div class="flex-box horizontal profile-body">
      <div class="profile-sidebar">
        <div class="sidebar-list">
          <%=link_to (t 'profiles.overview'), index_path%>
          <%=link_to (t 'profiles.security'), '' ,class:"current" %>
          <%=link_to (t 'profiles.kyc'), profiles_path(@profile) %>
        </div>
      </div>
      <div class="flex-content">
        <div class="profile-content">
          <div class="profile-security-head">
            <h4><%= (t 'profiles.Google_2_Step') %></h4>
          </div>
          <div class="profile-security-googleAuth">
            <div class="row">
              <div class="col-md-3">
                <h5><%= (t 'profiles.install') %></h5>
                <span class="step">1</span>
                <p><%= (t 'profiles.app_store') %><br><%= (t 'profiles.search') %> :<br>"Google Authenticator"</p>
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" class="appstore-ios"></a>
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" class="appstore-google"></a>
              </div>
              <div class="col-md-3">
                <h5><%= (t 'profiles.bind_2_step') %></h5>
                <span class="step">2</span>
                <img alt="QR Code" class="qrcode" src="data:image/png;base64,<%= @otp.data[:barcode] %>" />
                <p><%= (t 'profiles.scan') %></p>
                <a class="secret-link" href="#"><%= @otp_secret %></a>
              </div>
              <div class="col-md-3">
                <h5><%= (t 'profiles.back_up') %></h5>
                <span class="step">3</span>
                <p>Be sure to back up your<br><%= (t 'profiles.2_step_secret_key') %></p>
                <a class="secret-link" href="#"><%= @otp_secret %></a>
                <p><small><%= (t 'profiles.please_save') %><br><%= (t 'profiles.waillallow') %><br><%= (t 'profiles.in_case') %></small></p>
                <p><small><%= (t 'profiles.resetting') %><br><%= (t 'profiles.requires') %><br><%= (t 'profiles.takes') %></small></p>
              </div>
              <div class="col-md-3">
                <h5><%= (t 'profiles.enable_google_authentication') %></h5>
                <span class="step">4</span>
                <p><%= (t 'profiles.google_authentication_code') %>:</p>
                  <%= form_tag(security_confirm_path) do  %>
                    <div class="col-md-12">
                      <div class="form-group">
                        <%= text_field_tag :otp, '', autocomplete: 'off', class: 'form-control text-center', required: true, maxlength: 6, size: 6, pattern: '\d{6}', placeholder: 'XXXXXX' %>
                      </div>
                      <div class="form-group">
                        <%= submit_tag (t 'profiles.submit'), class: 'btn btn-primary btn-block', data: { confirm: 'Do you agree? If you lost your device you will need to verify your access' } %>
                      </div>
                    </div>
                  <% end %>
                <p><%= (t 'profiles.after_enable') %><br><%= (t 'profiles.withdrawals') %><br><%= (t 'profiles.google_step') %><br><%= (t 'profiles.ensure') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <h2><%= (t 'session.not_signed_in') %></h2>
    <br/>
    <%= link_to (t 'session.login'), new_account_session_path %> or <%= link_to (t 'session.register'), new_account_registration_path %>
  <% end %>
</div>
<% end %>