<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/favicon.ico" rel="shortcut icon" />

  <%= render 'layouts/shared/meta' %>
  <%= render 'layouts/shared/sentry' %>
  <%= csrf_meta_tags %>

  <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
  <%= stylesheet_link_tag stylesheet, media: 'all' %>

  <%= stylesheet_link_tag    'web', media: 'all' %>
  <%= domain_stylesheet_tag(domain_asset :stylesheet) %>
  <%= javascript_include_tag 'web' %>

  <%= domain_favicon_tag %>
</head>
<body class="ui-radius" data-lang="<%= locale_name %>" id="<%= body_id %>">

<div id="wrap">
  <%= content_for?(:header) ? yield(:header) : render('layouts/shared/header_peatio') %>
  <%= content_for?(:frame) ? yield(:frame) : render('layouts/shared/frame') %>

  <div id="push"></div>
</div>
<%= content_for?(:footer) ? yield(:footer) : render('layouts/shared/footer_peatio') %>

</body>
</html>
