<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/favicon.ico" rel="shortcut icon" />

  <%= render 'layouts/shared/meta' %>
  <%= render 'layouts/shared/sentry' %>
  <%= csrf_meta_tags %>

  <% stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : 'application' %>
  <%= stylesheet_link_tag stylesheet, media: 'all' %>
  <%= stylesheet_link_tag    'web', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap.min'%>
  <%= stylesheet_link_tag 'global' %>
  <%= stylesheet_link_tag 'index'%>
  <%= domain_stylesheet_tag(domain_asset :stylesheet) %>
  <%= javascript_include_tag 'web' %>
  <%= javascript_include_tag 'gt' %>
  <%= domain_favicon_tag %>
</head>
<body class="ui-radius" data-lang="<%= locale_name %>" id="<%= body_id %>">
<%= domain_html_tag(domain_asset :header) %>
<div class="flex-box vertical g-background home-index">

  <%= content_for?(:header) ? yield(:header) : render('layouts/shared/header') %>
  <%= content_for?(:frame) ? yield(:frame) : render('layouts/shared/frame') %>
  <%= content_for?(:footer) ? yield(:footer) : render('layouts/shared/footer') %>
</div>
</body>
</html>
